DB_HOST=localhost
DB_PORT=1433
MSSQL_SA_PASSWORD=your_strong_password_here
DB_NAME=TodoAppDB

Jwt__SecureKey=your_secure_key_here_min_32_characters
Jwt__Issuer=Backend
Jwt__Audience=Frontend
Jwt__AccessTokenLifetimeInMinutes=15
Jwt__RefreshTokenLifetimeInDays=7